md-list-item
  span(flex="10")|50
  p(flex="30", class="md-body-2")
    span(class="editable")|Luz PAR 30W
  p(flex="20", class="md-body-2")
    span(class="editable")|Arri
  p(flex="20", class="md-body-2")
    span(class="editable")|Luces
  p(flex="20", class="md-body-2")
    span(class="editable")|Abril 14, 2015