md-list
  md-subheader(class="md-accent")|Campo
  inv-item(ng-repeat="item in [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19]")
  md-subheader|Bodega 2
  inv-item(ng-repeat="item in [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19]")
  md-subheader|Bodega 3
  inv-item(ng-repeat="item in [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19]")